<!DOCTYPE html>
<html>
    <head>
        <title>Chess Quiz</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
         <link rel="stylesheet" href="/public/css/style.css">
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
        
         <link rel="stylesheet" href="public/js/lib/chessboardjs/css/chessboard-1.0.0.min.css"/>
         <link rel="icon" type="image/x-icon" href="/public/css/img/chess-logo.ico">
    </head>
    <body>
      
  
        
    <%- include('partials/navbar') %>

    <div class="content">
        <h1 class="headline">Debuts</h1>

        <div class="study_filter">
        <div class="grey_btn grey_active" onclick="window.location = '/study'">All</div>
        <div class="grey_btn" onclick="window.location = '/study/black'">Black</div>
        <div class="grey_btn" onclick="window.location = '/study/white'">White</div>
    </div>


      

    <%- include('partials/study_template') %>

    
    </div>

     

            
    <%- include('partials/footer') %>
        </div>


    
      
</div>

<div class="notification" id="notificat"></div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.10.2/chess.js"></script>
    <script src="public/js/lib/chessboardjs/js/chessboard-1.0.0.min.js"></script>

    </body>
</html>