
            <div class="footer-basic">
                <footer>
                    <div class="social">
                      <a href="#"><i class="icon ion-social-instagram"></i></a>
                      <a href="#"><i class="icon ion-social-snapchat"></i></a>
                      <a href="#"><i class="icon ion-social-twitter"></i></a>
                      <a href="#"><i class="icon ion-social-facebook"></i></a>
                    </div>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li ><a href="/service">Services</a></li>
                        <li><a href="/about">About</a></li>
                        <li ><a href="/terms">Terms</a></li>
                        <li><a href="/privacy">Privacy Policy</a></li>
                    </ul>
                    <p class="copyright">Chess Tactics © 2022
                    </p>
                </footer>
            </div>