<div class="text_container">
    <h1 class="headline"><%= headline %></h1>

    <pre class="text_block" style=" margin: auto; margin-top: 50px; max-width: 70%; white-space: pre-wrap ">
        <%= text %>

    </pre>
</div>